<div class="searchContainer">
<form [formGroup]="searchForm" class="searchForm">
  <input type="text" formControlName="searchQuery"
  #searchQuery
  placeholder="search for show"
  (keyup.enter)="onSubmit(searchQuery.value)">
  <br />
  <button type="button" class="btn btn-primary" (click)="onSubmit(searchQuery.value)" [disabled]="!userService.isLoggedIn()">
    Go!
  </button>
</form>
</div>
<div class = "card-deck justify-content-center">
  <app-show-card *ngFor="let show of shows; index as i"
  [show] = shows[i]></app-show-card>
</div>
