.season-image {
  height: 15em;
  width: 10em;
  margin: 1em;
  margin-bottom: .5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.season-image:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.23);
}
