<h1 mat-dialog-title>Sign up</h1>
<div mat-dialog-content class="signupContainer">
  <form class="signupForm form-group"
    #signupForm="ngForm"
    (ngSubmit)="onSubmit(signupForm)">
    <label for="email">Email</label>
    <input type="text"
    name="email"
    class="loginInput"
    id="email"
    placeholder="email"
    required
    email><br />
    <div ngModelGroup="passwords" #passwords="ngModelGroup" compare>
      <label for="password">Password</label>
      <input type="password"
        name="password"
        id="password"
        class="loginInput"
        placeholder="password"
        [(ngModel)]="password"
        required><br />
      <label for="password">Confirm password</label>
      <input type="password"
        name="confirmPassword"
        id="confirmPassword"
        class="loginInput"
        placeholder="bekräfta lösenord"
        [(ngModel)]="confirmPassword"
        required><br />
    </div>

    <div *ngIf="passwords.errors?.passwordCheck && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
      Passwords do not match.
    </div>
    <button type="submit"
      class="btn btn-inverse mt-4"
      [disabled]="signupForm.invalid || password.errors?.passwordCheck">Sign up</button>
  </form>
</div>
